.para-data {
    /* padding: 5px; */
    margin-left: 50px;
    margin-right: 50px;
  }

body {
    background-image: url("blur_tree.jpg");
    background-color: #fafafa;
}

.container {
    background-color: #fafafa;
    padding: 30px;
}

#map{
    height: 100%;
    padding-top: 150;
    /* margin-left: 150;
    margin-right: 150;
    margin-bottom: 150; */
  
  }