<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Climate Change Dashbaord</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Load d3.js -->
        <!--D3 cdn-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>

        <!-- Color Scale -->
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://d3js.org/d3.v5.js"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>
        <script defer src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
        <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
        <script defer src="{{ url_for('static', filename='js/chart.js') }}"></script>

        <!-- API key -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
        <!-- Our JS -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/map-logic.js') }}"></script>


    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #101804;">
          <div class="container-fluid">
              <a class="navbar-brand" href="index.html"><strong><em>Climate Change Visualizations</em></strong></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="visualizations">Visualizations</a>
                  <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">World CO2 Emissions</a></li>
                    <li><a class="dropdown-item" href="#">Population vs. Emissions</a></li>
                    <li><a class="dropdown-item" href="#">Environment Google Trends</a></li>
                  </ul> -->
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="discussion" >Discussion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="data">Data</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <br>
        <div class="container">
          <div class="jumbotron">
            <h1 class="display-6">Climate Change Visualizations</h1>
            <p class="lead">Visualizing CO2 emissions as it relates to total population.</p>
            
            <!-- Adding map to row container centered -->
            <div class="row">
                <div class="col" id="map"></div>
            </div>
            <p>
            <!-- round chart average total co2 by income level-->
              <div class="d-flex justify-content-center" id="chart"></div>
            </p>
            <!-- keyword line chart - ptrebd key words search -->
            <p> 
              <!--Initialize a select button -->
                <select id="selectButton"></select> 
                <!-- Create a div where the graph will take place -->
                <div class="d-flex justify-content-center" id="my_dataviz"></div>
            </p>
           
          </div>
        </div>

      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
      </body>
      
      </html>
      

</html>